/* Card Styling */

.card {
    margin-bottom: 50px;
    z-index: 1;
    position: relative;

}

.card-img-overlay {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.card-img-overlay:hover {
    background: rgba(0, 0, 0, 0.2);
    transition-duration: 0.3s;
    border-radius: 10px;
}





/* Icon */

.favorite-icon {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: red;

    cursor: pointer;
}

.favorite-icon:hover {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: rgb(165, 9, 9);

    cursor: pointer;
}


/* Details on the Card */

.movie-year {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;

}

.search-result {
    cursor: pointer;
}

.movie-name {
    position: absolute;
    top: 10px;
    left: 10px;
    color: rgb(255, 255, 255);
}




.card {
    margin-bottom: 20px;

    height: 250px;

    position: relative;
    border-radius: 10px;
}

.card-img-top {

    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

/* Search Results */


#content {
    margin: 9rem auto;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 600px;
    border: 0;
}



/* For webkit-based browsers */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #8e8e8e;
}

::-webkit-scrollbar-thumb {
    background: #686868;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

#darkModeSwitch {
    position: fixed;
    top: 2rem;
    left: 6rem;
    /* cursor: pointer; */
}